# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller / Build artifacts
build/
dist/
setup_output/
*.spec

# Virtual Environments
.venv/
venv/
ENV/
env/

# IDE and Editor configs
.vscode/
.idea/
*.swp
*.swo

# Temporary / OS files
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/
*.log
